{% include "common/header_admin.html.twig" %}
	<main>
        <div class="wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>ユーザー編集</h3>
                </div>
                <form class="edit-form" action="{{constant('config\\Bootstrap::ENTRY_URL')}}/update_user.php" method="POST">
                    <input type="hidden" name="id" value="{{ user[0]['id'] }}">
                    <div class="form-group">
                        <p>名前</p>
                        <input type='text' name='first_name' value="{{ user[0]['first_name'] }}">
                    </div>
                    <div class="form-group">
                        <p>メールアドレス</p>
                        <textarea name="mail">{{ user[0]['mail'] }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-blue">更新する</button>
                </form>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}