 <main>
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="index.php">TOP</a></li>
                    <li><a href="cart.php">カート</a></li>
                    <li>{{ result }}</li>
                </ul>
            </div>
        </div>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="wrapper-title">
                    <h3>{{ result }}</h3>
                </div>
                <div class="wrapper-body">
                    <div class="thanks">
                        <h4>{{ result_comment }}<h4>
                    </div>
                    <button type="button" class="btn btn-gray" onclick="location.href='../../index.php'">トップページに戻る</button>
                </div>
            </div>
        </div>
    </main>