<!DOCTYPE html>
<html lang="jp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFLEE6WX4R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFLEE6WX4R');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会員登録完了画面</title>
</head>
<body>
{% if count({{errors}}) === 0 } %}
<h1>会員登録完了画面</h1>

<p>登録完了いたしました。ログイン画面からどうぞ</p>
<p><a href="">ログイン画面（未リンク）</a></p>

{% elseif count({{ errors }}) > 0} %}

{% for value in errors %}
  {{ {{ atttribute( value ) }}}}
{% endfor %}

  {% for value in errros %}

{% endfor %}

{% endif %}

</body>
</html>