<!DOCTYPE html>
<html lang="jp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFLEE6WX4R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFLEE6WX4R');
</script>
  <meta charset="UTF-8">
  <title>仮アカウント登録画面</title>

</head>
<body>
<h1> {{Registration}} </h1>
<form action="../../create_account/registration_mail_check.php" method="post">
<p>メールアドレス:<input type="text" name="mail" size="50"></p>

<input type="hidden" name="token" value={{token}}>
<input type="submit" value="登録する">

</form>

<a href='../../index.php'>トップページへ戻る</a>

</body>
</html>