<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>会員登録完了</title>

</head>
<body>
  <div>会員登録が完了しました</div>
  <br><br><br><br><br><br>
  <div>ログイン</div>

<table>
<tr>
<th>ユーザーID<span class="red">*</span></th>
{# *は赤文字で必須ポイント #}
<td>
<input type="text" name="user_id" value="{{dataArr.user_id}}">
{% if error.user_id | length > 0 %}<br><span class="red">{{ error.user_id }}</span>{% endif %}
</td>
</tr>
<tr>
<th>パスワード<span class="red">*</span></th>
{# *は赤文字で必須ポイント #}
<td>
<input type="text" name="user_pass" value="{{dataArr.user_pass}}">
{% if error.user_pass | length > 0 %}<br><span class="red">{{ error.user_pass }}</span>{% endif %}
</td>
</tr>
<tr>

</table>
<div>
<input type="submit" name="login" value="ログイン">
</div>
</form>
</body>
</html>
  
</body>

</html>