 {% include "common/header.html.twig" %}
	<main>
    <br><br><br>

    <div class="container">
  <body class="text-center">
<main class="form-signin">
<form action="{{APP_URL}}/create_account/user_check.php" method="POST">
    <img class="mb-4 rounded-circle" src="../../image/logo.png" alt="" width="72" height="70">
    <h1 class="h3 mb-3 fw-normal">Sing in</h1>
    <input type="mail"  name="mail" class="form-control border-4 border-info" placeholder="メールアドレス">
    <br>
    <input type="password" name="password" class="form-control border-4 border-info" placeholder="パスワード">
    <br>
    <br>
            {% if login_pay == 1 %}
    <button class="w-100 btn btn-lg btn-primary" name="login_pay" type="submit" method="POST" value=1>サインイン</button>
            {% else %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
            {% endif %}
  </form>

 <br><br>
            <div class="wrapper-title">
            <div class="container">
            <h4>新規会員登録</h4>
            <h7>登録がお済みでない方はこちらから新規登録してください。</h7>
            </div>
            <button type="button" class="btn btn-submit" onclick="location.href='{{APP_URL}}/create_account/regist.php'">新規登録</button>
            </div>
            </div>
    </main>
 {% include "common/footer.html.twig" %}