<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
</head>
<body>

<a href="{{ constant('config\\Bootstrap::APP_URL') }}" >トップページへ</a></li>
<a href="{{ constant('config\\Bootstrap::APP_URL') }}create_account/logout.php" >ログアウト</a></li>
</body>
</html>