  {% include "common/header.html.twig" %}
	<main>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="thanks">
                    <h3>ログインに失敗しました</h3>
                    <p>メールアドレスあるいはパスワードが違います</p>
                    <p>3秒後ログイン画面へ戻ります</p>
                    <button type="button" class="btn btn-gray" onclick="location.href='{{APP_URL}}/index.php'">トップページに戻る</button>
                </div>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}