<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログアウト</title>
</head>
<body>


<a href="{{ constant('config\\Bootstrap::APP_URL') }}" >トップページへ</a></li>
<br><br>
<a href="{{ constant('config\\Bootstrap::APP_URL') }}create_account/login.php" >ログイン</a></li>
<br><br>
</body>
</html>