 <main>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="thanks">
                    <h3>登録完了しました。</h3>
                    <p>ご登録ありがとうございました。</p>
                    <button type="button" class="btn btn-gray" onclick="location.href='./index.php'">トップページに戻る</button>
                </div>
            </div>
        </div>
    </main>