  {% include "common/header.html.twig" %}
	<main>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="thanks">
                    <h1>退会画面</h1>
                    <h4 class="red">会員の退会をされるとそのアカウントにログイン不可能になり</h4>
                    <h4 class="red">注文履歴へのアクセスが不可能になり、カートに入っている商品は消滅します</h4>
                    <br>
                    <p>HEALTH KNOWLEGEの会員を退会を進められる方は</p>
                    <p>退会をご希望される方は、アカウントでご使用中のメールアドレスとパスワードの入力をお願いいたします</p>
                    </div>
        <div class="wrapper last-wrapper">
            <div class="container">
            <div class="login">
            <div class="wrapper-title">
            <h4>退会手続き</h4>
            <span class="red">{{ miss }}</span>
            </div>
            <form class="login-form" action="{{APP_URL}}/customer/delete_customer_check.php" method="POST">
            <div class="form-group">
            <p>メールアドレス</p>
            <input type="email" name="mail" required>
            </div>
            <div class="form-group">
            <p>パスワード</p>
            <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-danger">退会する</button>
            </form>
            </div>
            <div class="wrapper-title">
            </div>
        </div>
        </div>
                    <button type="button" class="btn btn-info" onclick="location.href='{{APP_URL}}/index.php'">トップページに戻る</button>
                </div>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}