		<main>
			<div class="wrapper">
				<div class="container">
					<div class="wrapper-title">
						<h3>ダッシュボード</h3>
					</div>
					<div class="boxs">
						<a href="{{constant('config\\Bootstrap::APP_URL')}}admin/news.php" class="box">
							<i class="far fa-newspaper icon"></i>
							<p>記事管理</p>
						</a>
						<a href="{{constant('config\\Bootstrap::APP_URL')}}admin/users.php" class="box"> 
						<i class="fas fa-users icon"></i>
							<p>会員管理</p>
						</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>

