{% include "common/header_admin.html.twig" %}
<body>
    <div class="login-wrapper" id="login">
        <div class="container">
            <div class="login">
                <div class="login-wrapper-title">
                    <h3>ログイン</h3>
                </div>
                <form class="login-form" action="{{APP_URL}}admin/check.php" method="POST">
                    <div class="form-group">
                        <p>メールアドレス</p>
                        <input type="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <p>パスワード</p>
                        <input type="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-submit">ログイン</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>