<footer>
  <div class="container">
  <p>Copyright @ 2021  HEALTH KNOWLEGE</p>
  </div>
  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  $(function(){
    $('.toggle').click(function(){
      $("header").toggleClass('open');
      $(".sp-menu").slideToggle(500);
    });
  });
  </script>
  </body>
  </html>