
<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HealthKnowledg</title>

  <meta property"og:title" content="EC_BOOK, inc." />
  <meta property"og:type" content="website" />
  <meta property"og:image" content="../../image/bg-1024x666.png" />
  <meta property"og:url" content="('config\\Bootstrap::APP_URL') }}" />
  <meta property"og:description" content="健康知識に関する本のサイトです" />

  <link rel="icon" href="favicon.ico">

<link href="../../css/styles.css" rel="stylesheet">

<link href="../../css/responsive.css" rel="stylesheet">


<link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">

</head>

<body>
<header>
  <div class="container">
  <div class="header-logo">
<h1><a href="../../index.php"><img src= "../../image/square_logo-1024x192.png" id="logo"></a><h1>
  </div>

  <div class="toggle">
  <div>
  <span></span>
  <span></span>
  <span></span>
  </div>
  </div>

  <div class="cart">
      <a href="../../shopping/cart.php"><i class="fas fa-shopping-cart"></i></a>
  </div>

  <nav class="sp-menu menu">
  <ul>
  <li><a href="../../index.php#service">サービス</a></li>
  <li><a href="../../shopping/Booklist.php">著書一覧</a></li>
  <li><a href="../../index.php#news">お知らせ</a></li>
  <li><a href="../../index.php#about">会社概要</a></li>
  <li><a href="../../index.php#contact">お問合せ</a></li>
  <li><a href="https://mrcartoon995970419.wordpress.com/">ブログ</a></li>
  </ul>
  </nav>

  <nav class="pc-menu menu-left menu">
  <ul>
  <li><a href="../../index.php#service">サービス</a></li>
  <li><a href="../../shopping/Booklist.php">著書一覧</a></li>
  <li><a href="../../index.php#news">お知らせ</a></li>
  <li><a href="../../index.php#about">会社概要</a></li>
  <li><a href="../../index.php#contact">お問合せ</a></li>
  <li><a href="https://mrcartoon995970419.wordpress.com/">ブログ</a></li>
  </ul>
  </nav>
<nav class="pc-menu menu-right menu">
  <ul>
  <li><a href="../../shopping/cart.php"><i class="fas fa-shopping-cart"></i></a></li>
  <li><a href="../../create_account/regist.php">会員登録</a></li>
  </ul>
</nav>
  </div>
  </header>