<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理者画面</title>

  <meta property"og:title" content="EC_BOOK, inc." />
  <meta property"og:type" content="website" />
  <meta property"og:image" content="../../image/bg-1024x666.png" />
  <meta property"og:url" content="../../index.php" />
  <meta property"og:description" content="健康知識に関する本のサイトです" />

  <link rel="icon" href="favicon.ico">

<link href="../../css/admin/styles.css" rel="stylesheet">

<link href="../../css/admin/responsive.css" rel="stylesheet">

    <a href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></a>
</head>
<body>
	<header>
			<div class="container">
				<div class="header-logo">
					<h1>
						<a href="../admin/dashboard.php">管理画面</a>
            <a href="../../index.php">トップページへ</a>
					</h1>
				</div>



				<nav class="menu-right menu">
					<a href="../admin/logout.php">ログアウト</a>
				</nav>
			</div>
		</header>