<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Knowledge Book</title>
</head>
<body>
<img src="./image/cart.png" alt="cart_img">
<img  src="./image/_1048-2626.jpg" alt="brain">
<br><br><br>
<h1>{{greeting}}</h1>
<br><br><br>
<ul>
<li><a href="/create_account/registration_mail_form.php">ＴＯＰ</a></li>
<li><a href="/create_account/registration_mail_form.php">新規アカウントの作成</a></li>
<li><a href="/create_account/registration_mail_form.php">話題の書籍</a></li>
<li><a href="/shopping/Booklist.php">商品一覧</a></li>

</ul>

<p2>{{titlesub2}}</p2>
<br><br><br>
<p3>{{kigo}}</p3>
<br><br><br>


</body>
</html>