  {% include "common/header_admin.html.twig" %}
	<main>
        <div class="wrapper last-wrapper">
            <div class="container">
                <div class="thanks">
                    <h3>書籍データの登録が完了しました。</h3>
                    <p>3秒後に書籍管理画面へ戻ります</p>
                    <button type="button" class="btn btn-gray" onclick="location.href='{{APP_URL}}/index.php'">トップページに戻る</button>
                </div>
            </div>
        </div>
    </main>
 {% include "common/footer.html.twig" %}