<!-- いいねボタン部分だけ切り取っています -->
<section class="post" data-postid="{{p_id}}">
    <div class="btn-want {{active}}">
        <!-- 自分がいいねした投稿にはハートのスタイルを常に保持する -->
        <i class="fa-heart fa-lg px-16 {{icon}}"></i><span>{{Want}}</span>
    </div>
</section>